@page "/"
@inject IWeatherService WeatherService

@if (currentWeather == null)
{
    <p class="loading"><em>Loading...</em></p>
}
else
{
    <div>
@*        <div style="font-size:72px;color:black;font-font-synthesis-weight:400">
            Temp is: @currentWeather.Temperature
        </div>
*@        <WeatherDisplayUI Weather="@currentWeather" />
    </div>
}

@code {
    WeatherForecast currentWeather;

    string location = "Seattle";

    protected override async Task OnInitializedAsync()
    {
        currentWeather = await WeatherService.GetWeatherAsync(location);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _ = GetWeatherUpdates();
        }
    }

    async Task GetWeatherUpdates()
    {
        while (true)
        {
            currentWeather = await WeatherService.GetWeatherAsync(location);
            StateHasChanged();
            await Task.Delay(5000);
        }
    }
}
