@page "/"
@inject IWeatherService WeatherService

@if (currentWeather == null)
{
    <p class="loading"><em>Loading...</em></p>
}
else
{
    <div>
        <WeatherDisplayUI Weather="@currentWeather" />
    </div>
}

@code {
    WeatherForecast currentWeather;

    protected override async Task OnInitializedAsync()
    {
        currentWeather = await WeatherService.GetWeatherAsync(null);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _ = GetWeatherUpdates();
        }
    }

    async Task GetWeatherUpdates()
    {
        while (true)
        {
            currentWeather = await WeatherService.GetWeatherAsync(null);
            StateHasChanged();
            await Task.Delay(5000);
        }
    }
}
